<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>



    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Loja de artigos religiosos</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">
                    Loja de artigos religiosos católicos!</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-light display-4" href="/produtos">Ver Produtos</a></div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="content8 cid-urcUqZE8hz" id="content8-2">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="counter-container col-md-12 col-lg-10">
                
                <div class="mbr-text mbr-fonts-style display-7">
                    <ul>
                        <li><a href="/" style="color: black;"><strong>Home&nbsp;</strong></a></li>
                        <li><a href="/clientes"style="color: black;"><strong>Clientes</strong></a></li>
                        <li><a href="/produtos" style="color: black;"><strong>Produtos</strong></a>
                        </li><a href="/pedidos" style="color: black;"><li><strong>Pedidos</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include ('partials/footer.ejs') %>
